[submodule "tournament-dlib"]
	path = tournament-dlib
	url = ../tournament-dlib
[submodule "dispatcher"]
	path = dispatcher
	url = git@github.com:cartesi-corp/dispatcher.git
[submodule "dapp/grpc-interfaces"]
	path = dapp/grpc-interfaces
	url = git@github.com:cartesi-corp/grpc-interfaces.git
